.App {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

@media (min-width: 650px ) {
    .App {
        background-position: center center;
    }
}

.hola {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 650px) {
    .productos {
        column-count: 2;
    }
    .frutas {
        height: 195px;
        margin-bottom: 0 4px;
    }
}